@import "tailwindcss";

:root {
	--background: #e7cba0;
	--foreground: #5a503e;
	--primary: #b49b75;
	--primary-border: #816e52;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #574837;
		--foreground: #f5b158;
		--primary: #665740;
		--primary-border: #816e52;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

@keyframes scroll {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-50%);
	}
}

@layer utilities {
	.scrollbar-hide::-webkit-scrollbar {
		display: none;
	}
	.scrollbar-hide {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
	.animate-scroll {
		animation: scroll 30s linear infinite;
		display: flex;
	}
	.hover\:pause:hover {
		animation-play-state: paused;
	}
}
